@import 'compass/css3';

@import '_openmrs.scss';

%combobox-highlight {
	background:#fff;
	background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iemtpZTkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgb2Zmc2V0PSIwJSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlNGU0ZTQiIG9mZnNldD0iMTAwJSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN6a2llOSkiIC8+PC9zdmc+);
	background:-moz-linear-gradient(top,#fff 0,#e4e4e4 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e4e4e4));
	background:-webkit-linear-gradient(top,#fff 0,#e4e4e4 100%);
	background:-o-linear-gradient(top,#fff 0,#e4e4e4 100%);
	background:-ms-linear-gradient(top,#fff 0,#e4e4e4 100%);
	background:linear-gradient(to bottom,#fff 0,#e4e4e4 100%);
}

%hide-element {
	display: none !important;
}

%fa {
	font-family:Font Awesome\ 5 Free;
}

%far {
	@extend %fa;
	font-weight:400;
}

%fas {
	@extend %fa;
	font-weight:900;
}

%toolbar-button {
	height: auto;
	width: auto;
	margin-top: 10px;
	padding: 3px 20px 2px 15px !important
}

:root {
	--default-textbox-outline-color: #cfcfcf;
	--button-font-size: 1.1em;
}

.bh {
	.center {
		text-align: center;
	}

	.center-vertical {
		vertical-align: center;
	}


	.bh-editable-rows-container {
		display: grid;
		grid-template-columns: 20px repeat(2, 1fr);
		grid-column-gap: 10px;
		padding: 5px;
		border: 1px solid var(--default-textbox-outline-color);

		div {
			.z-label {
				text-align: center;
			}

			.bh-button {
				&.z-button {
					margin-top: 5px !important;
				}

				&.form-button {
					width: 100%;
				}
			}

			.z-textbox {
				width: 100%;
			}
		}

		.bh-add-row {
			grid-column: span 3;
			order: 1;
		}

		.bh-number-box {
			text-align: right;
		}

		.delete-button-container {
			cursor: pointer;
		}
	}

	&.client, &.organization {

	}

	&.client {

	}
	
	&.organization {
		.adwindow-toolbar {
			& > div.z-toolbar-start {
				background-color: white;
				display: flex;
				justify-content: flex-end;

				.z-separator {
					@extend %hide-element;
				}
			}

			a {
				@extend %button;
				&:hover {
					@extend %button-hover;
				}

				&:nth-child(2), &:nth-child(5), &:nth-child(8), &:nth-child(9), &:nth-child(n+12):nth-child(-n+50), &.disableFilter, img {
					@extend %hide-element;
				}

				&:nth-child(1), &:nth-child(4), &:nth-child(6), &:nth-child(7), &:nth-child(10), &:nth-child(11) {
					@extend %toolbar-button;
					order: 1;

					span {
						width: auto;

						img {
							@extend %hide-element;
						}
					}

					&:before {
						font-size: var(--button-font-size);
						color: white;
					}

					&:after {
						font-size: var(--button-font-size);
						vertical-align: middle;
					}
				}

				&:nth-child(1) {
					@extend %primary;

					&:before {
						@extend %fas;
						content: "\f00d";
					}

					&:after {
						content: " Cancel";
					}

					&:hover {
						@extend %primary-hover;
					}
				}

				&:nth-child(4) {
					@extend %confirm;

					&:before {
						@extend %fas;
						content: "\f067";
					}

					&:after {
						content: " New";
					}

					&:hover {
						@extend %confirm-hover;
					}
				}

				&:nth-child(6) {
					@extend %cancel;

					&:before {
						@extend %far;
						content: "\f2ed";
					}

					&:after {
						content: " Delete";
					}

					&:hover {
						@extend %cancel-hover;
					}
				}

				&:nth-child(7) {
					@extend %confirm;

					&:before {
						@extend %fas;
						content: "\f0c7";
					}

					&:after {
						content: " Save";
					}

					&:hover {
						@extend %confirm-hover;
					}
				}

				&:nth-child(10) {
					margin-right: 10px;
					order: 0;

					&:before {
						@extend %fas;
						content: "\f021";
						color: black;
					}

					&:after {
						content: " Refresh";
					}
				}

				&:nth-child(11) {
					margin-right: auto;
					order: 0;

					&:before {
						@extend %fas;
						content: "\f002";
						color: black;
					}

					&:after {
						content: " Search";
					}
				}
			}
		}

		.adwindow-breadcrumb > div {
			@extend %hide-element;
		}

		.adwindow-detailpane {
			.adwindow-detailpane-tabpanel {
				.adtab-content {
					.z-grid-body {
						tr.highlight {
							.row-indicator-selected {
								background-image: none !important;

								&:before {
									@extend %fas;
									content: "\f303";
								}
							}
						}
					}
				}
			}

			.adwindow-detailpane-toolbar {
				.z-toolbar-start {
					display: flex;
					justify-content: flex-start;

					a {
						width: auto;

						span {
							width: auto;
							text-shadow: none;

							img {
								@extend %hide-element;
							}

							&:before {
								font-size: var(--button-font-size);
								color: white;
							}
						}

						&.disableFilter {
							@extend %hide-element;
						}

						&:after {
							font-size: var(--button-font-size);
							vertical-align: middle;
						}

						&:nth-child(5) {
							@extend %hide-element;
						}

						&:nth-child(1), &:nth-child(4) {
							@extend %confirm;
							padding: 0 5px;

							&:hover {
								@extend %confirm-hover;
								padding: 0 5px;
							}
						}

						&:nth-child(1) {
							span {
								&:before {
									@extend %fas;
									content: "\f067";
								}
							}
						}

						&:nth-child(2) {
							@extend %primary;
							padding: 0 5px;

							span {
								&:before {
									@extend %fas;
									content: "\f303";
								}
							}

							&:hover {
								@extend %primary-hover;
								padding: 0 5px;
							}
						}

						&:nth-child(3) {
							@extend %cancel;
							padding: 0 5px;

							span {
								&:before {
									@extend %fas;
									content: "\f2ed";
								}
							}

							&:hover {
								@extend %cancel-hover;
								padding: 0 5px;
							}
						}

						&:nth-child(4) {
							span {
								&:before {
									@extend %fas;
									content: "\f0c7";
								}
							}
						}
					}
				}
			}
		}

		.bh-logoutbutton {
			display: flex;
			align-items: center;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
			-ms-border-radius: 0;
			-khtml-border-radius: 0;
			border-radius: 0;
			padding: 0 10px;

			div {
				margin-left: 5px;
				font-weight: bold;
				font-size: 1.3em;
			}

			&:hover {
				background: #fff;
			}
		}

		.desktop-header-popup {
			@extend %hide-element;
		}

		.desktop-layout {
			.z-west, .z-west-splitter, .z-west-collapsed {
				@extend %hide-element;
			}

			.desktop-center {
				left: 0 !important;
				right: 0 !important;
				width: auto !important;
				padding-top: 0;

				> .z-center-body {
					width: auto !important;

					> .desktop-tabbox {
						width: auto !important;
					}
				}
			}
		}

		.desktop-tabbox {
			& > .z-tabs {
				height: 34px;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				.z-tabs-content {
					border: none;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					height: 100%;

					.z-tab {
						font-size: 1.4em;
						height: auto;
						border: none;
						background: none;
						box-shadow: none;
						-webkit-border-radius: 0;
						-moz-border-radius: 0;
						-o-border-radius: 0;
						-ms-border-radius: 0;
						-khtml-border-radius: 0;
						border-radius: 0;

						&:nth-last-child(2), .z-tab-button, .z-tab-image {
							@extend %hide-element;
						}

						&:nth-child(3) span {
							padding-left: 5px;
						}
					}

					.back-button {
						padding-left: 10px;
						padding-right: 10px;
						display: flex;
						align-items: center;
						height: 100%;

						&:hover {
							background: #fff;
						}

						a {
							display: flex;
						}
					}
				}
			}

			& > .z-toolbar-tabs {
				&.z-toolbar {
					padding: 0;
					border: none;
				}

				.z-toolbar-content {
					display: flex;
					height: 100%;
				}

				a {
					cursor: pointer;
					border: 1px solid transparent;

					&:not(:last-child)  {
						@extend %hide-element;
					}

					i {
						font-size: 2.5em;
					}

					&:last-child {

					}

					/*&:first-child {
						display: inline-block !important;

						span {
							width: auto;

							img {
								@extend %hide-element;
							}

							&:before {
								font-size: var(--button-font-size);
								@extend %fas;
								content: "\f0c9";
							}
						}
					}*/
				}
			}
		}

		.z-button {
			text-shadow: none;

			&.img-btn {
				@extend %button;

				&:hover:not([disabled]) {
					@extend %button-hover;
				}

				&[disabled] {
					cursor: default;
				}

				img {
					@extend %hide-element;
				}

				&.btn-new, &.btn-ok, &.btn-cancel, &.btn-refresh, &.btn-reset, &.btn-customize, &.btn-history, &.btn-zoom, &.btn-pattribute {
					font-weight: normal;
				}

				&.btn-new, &.btn-ok {
					@extend %confirm;

					&:hover:not([disabled]) {
						@extend %confirm-hover;
					}
				}

				&.btn-new {
					&:before {
						@extend %fas;
						content: "\f067";
					}

					&:after {
						content: " New";
					}
				}

				&.btn-ok {
					margin-right: 10px !important;

					&:before {
						@extend %fas;
						content: "\f00c";
					}

					&:after {
						content: " Ok";
					}
				}

				&.btn-refresh {
					&:before {
						@extend %fas;
						content: "\f021";
					}

					&:after {
						content: " Refresh";
					}
				}

				&.btn-reset {
					&:before {
						@extend %fas;
						content: "\f0e2";
					}

					&:after {
						content: " Reset";
					}
				}

				&.btn-customize {
					&:before {
						@extend %fas;
						content: "\f1de";
					}

					&:after {
						content: " Customize";
					}
				}

				&.btn-history {
					&:before {
						@extend %fas;
						content: "\f1da";
					}

					&:after {
						content: " History";
					}
				}

				&.btn-zoom {
					&:before {
						@extend %fas;
						content: "\f065";
					}

					&:after {
						content: " Zoom";
					}
				}

				&.btn-pattribute {
					&:before {
						@extend %fas;
						content: "\f1fa";
					}

					&:after {
						content: "  Prod. Attr.";
					}
				}

				&.btn-cancel {
					@extend %primary;

					&:before {
						@extend %fas;
						content: "\f00d";
					}

					&:after {
						content: " Cancel";
					}

					&:hover:not([disabled]) {
						@extend %primary-hover;
					}
				}
			}
		}

		.find-window {
			.z-button {
				&.img-btn {
					&.btn-ok {
						&:after {
							content: " Search";
						}
					}
				}
			}

			& > .z-window-content {
				& > .z-vlayout {
					& > .z-vlayout-inner:first-child {
						@extend %hide-element;
					}
				}
			}
		}

		.info-panel {
			.z-button {
				&.img-btn {
					&.btn-ok {
						margin-right: auto !important;
					}
				}
			}
		}
	}
}
