bin
.classpath
.project
.settings
target

# IntelliJ files for those editing plugins with IntelliJ
.idea
org.bandahealth.idempiere.rest.eml
org.bandahealth.idempiere.rest.iml

WEB-INF/lib/java-jwt.jar

#23/10/2020: Remove pom.xml from repo due to different setup locations for this plugin.
pom.xml 


#23/10/2020: Remove .classpath
.classpath
