<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.bandahealth.idempiere.graphql.generator.GraphQLGeneratorApplication"
         name="Model Generator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.bandahealth.idempiere.graphql.generator.GraphQLGeneratorApplication">
         </run>
      </application>
   </extension>
</plugin>
